
.header {
  font-family: 'Times New Roman', impact;
  text-align: center;
}
body {
  font-family: 'Ariel', sans-serif;
  font-size: 14px;
  color: firered;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 50px;
  background-color: powderblue;
}
#VW {
  text-align: center;
}
#baseball {
  text-align: center;
}
#church {
  text-align: center;
}
#music {
  text-align: center;
}
h3 {
  text-align: center;
}
