
.header {
  font-family: 'Times New Roman', impact;
  text-align: center;
}
body {
  font-family: 'Ariel', sans-serif;
  margin: 15px;
}
#VW {
  text-align: center;
}
#baseball {
  text-align: center;
}
#church {
  text-align: center;
}
#music {
  text-align: center;
}
h3 {
  text-align: center;
}
