
.header {
  font-family: 'Times New Roman';
  text-align: center;
}
body {
  font-family: 'Ariel';
}
#VW {
  text-align: center;
}
#baseball {
  text-align: center;
}
#church {
  text-align: center;
}
#music {
  text-align: center;
}
h3 {
  text-align: center;
}
